{% extends '::base.html.twig' %} 
 
  {% block body %}
  <div class="row">
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
      {% block sidebar %}
            <div class="panel">
                <h5>Categories</h5>
                  <ul class="side-nav">
                    <li><a href="{{ path('cms_speler_') }}">Spelers</a></li>
                    <li><a href="{{ path('cms_scheidsrechters_') }}">Scheidsrechters</a></li>
                    <li><a href="{{ path('cms_wedstrijdsoort_') }}">Wedstrijdsoort</a></li>
                  </ul>
            </div>  
          

          <div class="panel">
            <h5>Featured</h5>
            <p>- Base crud functions for Spelers</p>
          </div>
      {% endblock %}     
    </aside>
 
    <!-- End Sidebar -->
    
    <!-- Main Content -->
    <div class="large-9 columns" role="content">
        {% block main %}
        {% endblock %}
    </div>
 
    <!-- End Main Content -->
  </div>
 
  <!-- End Main Content and Sidebar -->
  {% endblock %}
    
  {% block javascripts %}
        {{ parent() }}
  {% endblock %}
  