#netbeans project files
/nbproject/

# Bootstrap
app/bootstrap*

# Symfony directories
bin/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
#web/bundles/*

# Configuration files
# app/config/parameters.yml

# Composer
composer.phar