/* 
    Document   : main
    Created on : 28-feb-2014, 13:30:21
    Author     : Ron
    Description: custom application stylesheet
*/
html, body {
   height: 100%;
   min-height: 100%;
}

#pdf_preview {
    width: 400px;
    height: 400px;
}

textarea { height: auto; }

