{% extends 'RdgSoccerBundle::layout.html.twig' %} 

{% block main %}
    <p>Nieuwe FC Twente statistieken site</p>
    {% for land in landen %}
        <p>{{ land.land }}</p>
    {% endfor %}
{% endblock %}
