{% extends 'RdgSoccerBundle::layout.html.twig' %} 

{% block main %}
    <p>Nieuwe FC Twente statistieken site</p>
    <div class="panel">
        <p>Bekijk head2head statistieken</p>
        {{ form(h2hForm) }}
    </div>
    <div class="panel">
        <p>Bekijk wedstrijden per seizoen</p>
        {{ form(perSeizoenForm) }}
    </div>    
{% endblock %}
