{% extends 'RdgSoccerBundle::layout_1kol.html.twig' %} 

{% block main %}
    <h1>WedstrijdSoort edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cms_wedstrijdsoort_') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
