{% extends 'RdgSoccerBundle::layout_1kol.html.twig' %} 

{% block main %}
    <h1>WedstrijdSoort creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cms_wedstrijdsoort_') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
